body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('cows.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 70px; 
    padding: 0 20px;
}

.description {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    color: #fff;
}

.description h2, .description h3 {
    margin: 10px 0;
}

.description ul {
    list-style-type: none;
    padding: 0;
}

.description li {
    margin: 5px 0;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 60px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 75vh; 
}

#game {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto; 
}

#inputContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#guess {
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#history {
    margin-top: 20px;
    font-size: 16px;
    color: #ccc;
    overflow-y: auto; 
    max-height: calc(75vh - 300px); 
    margin-bottom: 20px;
}

#attempts {
    margin-top: 10px;
    font-size: 18px;
    color: #10461c;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 0;
}
