.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Concert One;
    height: 100vh;
    width: 100%;
    background-color: #218838;
    background-image: url('cows.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 75vh;
    overflow-y: auto;
    margin: 10px;
    width: 60%;
}

.description {
    font-size: large;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 75vh;
    overflow-y: auto;
    margin: 10px;
    width: 30%;
}

#game {
    flex-grow: 1;
    overflow-y: auto;
}

#inputContainer {
    margin: 10px 0;
}

#guess {
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

a:hover,
button:hover {
    background-color: #218838;
}

a:active,
button:active {
    background-color: #10461c;
}

button {
    font-family: Concert One;
    font-size: medium;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#history {
    margin-top: 20px;
    font-size: 16px;
    color: #ccc;
    overflow-y: auto;
    max-height: 35vh;
    flex-grow: 1;
    margin-bottom: 20px;

}

#attempts {
    margin-top: 10px;
    font-size: 18px;
    color: #10461c;
}

.description h2,
.description h3 {
    margin: 10px 0;
}

.description ul {
    list-style-type: none;
    padding: 0;
}

.description li {
    margin: 5px 0;
}

footer {
    width: 10%;
    height: 5%;
    margin: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}