.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-color: #043264;
    text-align: center;
    font-family: Pixelify Sans;
    font-size: large;
    color: white;
    height: 100vh;
    width: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

#gameContainer {
    position: relative;
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid red;
}

#background {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 60vw;
    background-image: url(media/background1.jpg);
    background-repeat: repeat-x;
    background-size: cover;
}

#character {
    position: absolute;
    bottom: 5vh;
    transition: bottom 0.4s ease-out;
}


#obstacle1 {
    position: absolute;
    bottom: 4vh;
    display: none;
    transform: scale(-1, 1);
}

#obstacle2 {
    position: absolute;
    bottom: 4vh;
    display: none;
}

#obstacle3 {
    position: absolute;
    top: 6vh;
    display: none;
}

#obstacle4 {
    position: absolute;
    top: 20vh;
    display: none;
    transform: scale(-1, 1);
}

#obstacle5 {
    position: absolute;
    bottom: 4vh;
    display: none;
}

#gameOver {
    display: none;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#character.jump {
    bottom: 35vh;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a i {
    margin: 5px;
}

#restart {
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(151, 151, 151);
}

.back {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(151, 151, 151);
}

.back:hover,
#restart:hover {
    background-color: gray;
}

.back:active,
#restart:active {
    background-color: rgb(73, 73, 73);
}

#score {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: larger;
}